<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     http://code.alibabatech.com/schema/dubbo
	     http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="demoRpcService" class="com.sztx.se.rpc.dubbo.client.DubboClient">
        <property name="interfaceName" value="com.sztx.javaPasser.rpc.api.service.DemoRpcService"/>
        <property name="protocol" value="dubbo"/>
    </bean>

    <bean id="testRpcService" class="com.sztx.se.rpc.dubbo.client.DubboClient">
        <property name="interfaceName" value="com.sztx.javaPasser.rpc.api.service.TestRpcService"/>
        <property name="protocol" value="dubbo"/>
    </bean>

    <bean id="userRpcService" class="com.sztx.se.rpc.dubbo.client.DubboClient">
        <property name="interfaceName" value="com.sztx.javaPasser.rpc.api.service.UserRpcService"/>
        <property name="protocol" value="dubbo"/>
    </bean>

    <bean id="dynamicDubboClient" class="com.sztx.se.rpc.dubbo.source.DynamicDubboClient">
        <!--<property name="openLog" value="${logback.dubbo.openLog}"/>-->
    </bean>

    <bean id="dynamicCreateDubboClientManager" class="com.sztx.se.rpc.dubbo.source.DynamicCreateDubboClientManager">
        <property name="dynamicDubboClient" ref="dynamicDubboClient"/>
    </bean>

</beans>